<div class="mail-page">


    <div class="recover-back"
    onclick="cargarVista('recuperar.html')">

        <i class="fa-solid fa-arrow-left"></i>

    </div>



    <div class="mail-icon">

        <i class="fa-solid fa-envelope"></i>

    </div>



    <h1>
        ¡Revisa tu correo!
    </h1>


    <p>

        Hemos enviado un enlace de
        <br>
        recuperación a tu correo
        <br>
        electrónico.

    </p>



    <button
    onclick="cargarVista('nuevaPassword.html')">

        Cambiar contraseña

    </button>


</div>