<div class="dashboard">


<!-- HEADER -->

<header class="dash-header">

    <button class="back-btn">
        <i class="fa-solid fa-arrow-left"></i>
    </button>


    <h3>
        OptiTurn
    </h3>


    <button class="notification-btn">

        <i class="fa-solid fa-bell" onclick="cargarVista('notificaciones.html')"></i>

        <span>
        3
        </span>

    </button>


</header>





<!-- BIENVENIDA -->

<section class="welcome">

<h2>
¡Hola, Alexander! 👋
</h2>


<p>
Evita filas y conoce tu tiempo de espera antes de ir.
</p>


</section>








<!-- BUSCADOR -->

<div class="search-container">


<i class="fa-solid fa-magnifying-glass"></i>


<input 
type="text"
placeholder="Buscar servicio o establecimiento"
>


<button onclick="loadPage('views/busqueda.html')">

<i class="fa-solid fa-chevron-right"></i>

</button>


</div>








<!-- ACCIONES -->


<div class="actions">


<div class="action blue"
onclick="loadPage('views/reservas.html')">


<i class="fa-solid fa-calendar-check"></i>


<h4>
Reservar turno
</h4>


<p>
Elige servicio y asegura tu atención
</p>


</div>





<div class="action green"
onclick="loadPage('views/reservas.html')">


<i class="fa-solid fa-ticket"></i>


<h4>
Mis turnos
</h4>


<p>
Consulta tus turnos actuales y anteriores
</p>


</div>


</div>









<!-- TURNO ACTUAL -->


<section class="turn-card">


<h5>
TU TURNO ACTUAL
</h5>



<div class="turn-title">


<div>

<h3>
SUNAT - DNI TRÁMITE
</h3>


<p>
Av. Arequipa 1234 Lima
</p>


</div>


<strong>
A025
</strong>


</div>







<div class="turn-info">


<div>

<i class="fa-solid fa-users"></i>

<span>
8
</span>

<small>
Personas antes
</small>

</div>




<div>

<i class="fa-regular fa-clock"></i>

<span>
20 min
</span>

<small>
Tiempo espera
</small>


</div>




<div>

<i class="fa-regular fa-calendar"></i>

<span>
10:30 AM
</span>

<small>
Horario
</small>


</div>


</div>





<button onclick="loadPage('views/qr.html')">

<i class="fa-solid fa-qrcode"></i>

Ver código QR

</button>


</section>









<!-- ESTADO -->


<section class="status-card"
onclick="loadPage('views/gestion.html')">


<h5>
ESTADO DEL SERVICIO
</h5>



<div class="status">


<div>

<i class="fa-solid fa-user-group"></i>

<b>
12
</b>

<p>
Personas esperando
</p>


</div>




<div>

<i class="fa-solid fa-clock"></i>

<b>
15 min
</b>

<p>
Tiempo promedio
</p>


</div>




<div>

<i class="fa-solid fa-star"></i>

<b>
2:00 PM
</b>

<p>
Mejor horario
</p>


</div>



</div>



</section>








<!-- NAVEGACION -->


<nav class="bottom-nav">


<div class="active"
onclick="loadPage('views/dashboard.html')">


<i class="fa-solid fa-house"></i>


<span>
Inicio
</span>


</div>




<div onclick="loadPage('views/reservas.html')">


<i class="fa-solid fa-calendar-days"></i>


<span>
Reservas
</span>


</div>





<div onclick="loadPage('views/perfil.html')">


<i class="fa-solid fa-user"></i>


<span>
Perfil
</span>


</div>



</nav>



</div>