<div class="dashboard">

    <!-- Header -->

    <header class="header">

        <div>

            <h2>Hola, Mayra 👋</h2>

            <p>¿Qué trámite deseas realizar?</p>

        </div>

        <img src="../assets/logo/logo.png" class="profile">

    </header>

    <!-- Buscador -->

    <div class="search-box">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input type="text" placeholder="Buscar institución...">

    </div>

    <!-- Accesos rápidos -->

    <section class="quick">

        <div class="quick-card">
            <i class="fa-solid fa-calendar-days"></i>
            <span>Reservar</span>
        </div>

        <div class="quick-card">
            <i class="fa-solid fa-users"></i>
            <span>Fila</span>
        </div>

        <div class="quick-card">
            <i class="fa-solid fa-building"></i>
            <span>Locales</span>
        </div>

        <div class="quick-card">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <span>Historial</span>
        </div>

    </section>

    <!-- Próxima cita -->

    <div class="card appointment">

        <h3>Próximo turno</h3>

        <h4>RENIEC</h4>

        <p>Viernes 12 - 09:30 AM</p>

        <button class="btn-primary" onclick="cargarVista('notificaciones.html')">
            Ver detalle
        </button>

    </div>

    <!-- Instituciones -->

    <h3 class="section-title">

        Instituciones

    </h3>

    <div class="institutions">

        <div class="inst-card">

            <i class="fa-solid fa-landmark"></i>

            <h4>SUNAT</h4>

            <p>Reserva tu turno</p>

        </div>

        <div class="inst-card">

            <i class="fa-solid fa-id-card"></i>

            <h4>RENIEC</h4>

            <p>DNI y trámites</p>

        </div>

    </div>

    <!-- Barra inferior -->

    <nav class="bottom-nav">

        <i class="fa-solid fa-house active"></i>

        <i class="fa-solid fa-calendar-check"></i>

        <i class="fa-solid fa-bell" onclick="cargarVista('notificaciones.html')"></i>

        <i class="fa-solid fa-user"></i>

    </nav>

</div>