<div class="app-screen turnos-screen">

    <header class="app-header">
        <button class="app-back-btn" onclick="cargarVista('dashboard.html')">
            <i class="fa-solid fa-arrow-left"></i>
        </button>

        <div class="app-header-title">
            <h2>Fila virtual</h2>
            <p>Consulta tu posición en tiempo real</p>
        </div>
    </header>

    <section class="turno-card">

        <div class="turno-top">
            <div class="turno-icon">
                <i class="fa-solid fa-users"></i>
            </div>

            <div>
                <span>Fila activa</span>
                <h3>Duplicado de DNI</h3>
                <p>RENIEC</p>
            </div>
        </div>

        <div class="turno-detalles">
            <div>
                <i class="fa-solid fa-user-group"></i>
                <strong>12</strong>
                <span>Personas antes</span>
            </div>

            <div>
                <i class="fa-solid fa-clock"></i>
                <strong>35 min</strong>
                <span>Espera</span>
            </div>

            <div>
                <i class="fa-solid fa-ticket"></i>
                <strong>A025</strong>
                <span>Código</span>
            </div>
        </div>

        <button class="btn-primary" onclick="cargarVista('qr.html')">
            Ver código QR
        </button>

        <button class="btn-secondary" onclick="cargarVista('misTurnos.html')">
            Ver mis turnos
        </button>

    </section>

    <nav class="bottom-nav">

        <div onclick="cargarVista('dashboard.html')">
            <i class="fa-solid fa-house"></i>
            <span>Inicio</span>
        </div>

        <div onclick="cargarVista('establecimientos.html')">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Buscar</span>
        </div>

        <div class="active" onclick="cargarVista('misTurnos.html')">
            <i class="fa-solid fa-calendar-days"></i>
            <span>Reservas</span>
        </div>

        <div onclick="cargarVista('perfil.html')">
            <i class="fa-solid fa-user"></i>
            <span>Perfil</span>
        </div>

    </nav>

</div>