<div class="login-page">

    <div class="back">
        
    </div>

    <div class="logo">

    <img class="logo-img"
    src="../assets/logo/icon_optiturn.png">

    <h1>

    OptiTurn

    </h1>

    <p>

    Inicia sesion en tu cuenta

    </p>

    </div>

    <div class="form">

        <label>Correo electrónico</label>

        <div class="input-box">

        <i class="fa-solid fa-envelope icon"></i>

        <input
        type="email"
        placeholder="Correo electrónico">

        </div>

        <label>Contraseña</label>

        <div class="input-box">

        <i class="fa-solid fa-lock icon"></i>

        <input
        id="password"
        type="password"
        placeholder="Contraseña">

        <i
        id="eye"
        class="fa-solid fa-eye eye">
        </i>

        </div>
        <a class="forgot"

        onclick="cargarVista('recuperar.html')"

        >

        ¿Olvidaste tu contraseña?

        </a>

        <button 
        class="login-btn"
        onclick="cargarVista('dashboard.html')">

            Iniciar sesión

        </button>

    </div>

    <div class="or">

        o continúa con

    </div>

    <div class="social">

        <button class="google">

        <i class="fa-brands fa-google"></i>

        Continuar con Google

        </button>

        <button class="apple">

        <i class="fa-brands fa-apple"></i>

        Continuar con Apple

        </button>

    </div>

    <div class="register">

        ¿No tienes cuenta?

    <a onclick="cargarVista('registro.html')">

        Crear cuenta

    </a>

    </div>

</div>