<div class="mapa-screen">

    <header class="mapa-header">
        <button class="app-back-btn" onclick="cargarVista('establecimientos.html')">
            <i class="fa-solid fa-arrow-left"></i>
        </button>

        <div class="mapa-title">
            <h2>Mapa</h2>
            <p>Ubica establecimientos cercanos</p>
        </div>
    </header>

    <div class="mapa-search" onclick="cargarVista('establecimientos.html')">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Buscar establecimiento</span>
    </div>

    <section class="mapa-contenedor">

        <div class="mapa-grid"></div>

        <div class="map-pin pin-principal">
            <i class="fa-solid fa-location-dot"></i>
        </div>

        <div class="map-pin pin-uno">
            <i class="fa-solid fa-location-dot"></i>
        </div>

        <div class="map-pin pin-dos">
            <i class="fa-solid fa-location-dot"></i>
        </div>

        <div class="map-pin pin-tres">
            <i class="fa-solid fa-location-dot"></i>
        </div>

        <div class="user-location">
            <i class="fa-solid fa-circle-dot"></i>
            <span>Tu ubicación</span>
        </div>

    </section>

    <section class="mapa-card">

        <div class="mapa-card-header">
            <h3>Cercanos a ti</h3>
            <button onclick="cargarVista('establecimientos.html')">Ver todo</button>
        </div>

        <div class="establecimiento-mapa">
            <div class="establecimiento-icon">
                <i id="mapaIcono" class="fa-solid fa-id-card"></i>
            </div>

            <div class="establecimiento-info">
                <h4 id="mapaNombre">RENIEC</h4>
                <p id="mapaDescripcion">Registro de identificación</p>

                <div class="mapa-detalles">
                    <span>
                        <i class="fa-solid fa-location-dot"></i>
                        <strong id="mapaDistancia">A 1.2 km</strong>
                    </span>

                    <span>
                        <i class="fa-solid fa-clock"></i>
                        <strong id="mapaTiempo">35 min</strong>
                    </span>
                </div>
            </div>
        </div>

        <button class="btn-primary" onclick="cargarVista('servicios.html')">
            Ver servicios disponibles
        </button>

    </section>

   <nav class="bottom-nav">

    <div onclick="cargarVista('dashboard.html')">
        <i class="fa-solid fa-house"></i>
        <span>Inicio</span>
    </div>

    <div class="active" onclick="cargarVista('establecimientos.html')">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Buscar</span>
    </div>

    <div onclick="cargarVista('misTurnos.html')">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Reservas</span>
    </div>

    <div onclick="cargarVista('perfil.html')">
        <i class="fa-solid fa-user"></i>
        <span>Perfil</span>
    </div>

    </nav>

</div>