<div class="mapa-container">

    <!-- Header -->
    <header class="mapa-header">

        <button class="back-btn" id="btnVolver">
            <i class="fa-solid fa-arrow-left"></i>
        </button>

        <h2>Mapa</h2>

    </header>

    <!-- Buscador -->
    <div class="search-box">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input
            type="text"
            placeholder="Buscar establecimiento"
        >

    </div>

    <!-- Mapa -->
    <section class="mapa">

        <img src="../assets/img/mapa.png" class="mapa-img">

        <div class="pin pin1">
            <i class="fa-solid fa-location-dot"></i>
        </div>

        <div class="pin pin2">
            <i class="fa-solid fa-location-dot"></i>
        </div>

        <div class="pin pin3 activo">
            <i class="fa-solid fa-location-dot"></i>
        </div>

        <div class="pin pin4">
            <i class="fa-solid fa-location-dot"></i>
        </div>

    </section>

    <!-- Tarjeta -->
    <div class="nearby-card" id="btnServicios">

        <div class="nearby-header">

            <h3>Cercanos a ti</h3>

            <span>Ver todo</span>

        </div>

        <div class="nearby-info">

            <img
                src="../assets/logo/reniec.png"
                class="logo"
            >

            <div>

                <h4>RENIEC SEDE PRINCIPAL</h4>

                <p>Av. Arequipa 1234, Lima</p>

            </div>

        </div>

    </div>

    <!-- Barra inferior -->

    <nav class="bottom-nav">

        <i class="fa-solid fa-house"></i>

        <i class="fa-solid fa-map-location-dot active"></i>

        <i class="fa-solid fa-calendar-days"></i>

        <i class="fa-solid fa-user"></i>

    </nav>

</div>