<div class="login-page">

<div class="back"

onclick="cargarVista('login.html')">

←

</div>

<div class="logo">

<h1>

Nueva contraseña

</h1>

<p>

Ingresa tu nueva contraseña

</p>

</div>

<div class="form">

<label>

Nueva contraseña

</label>

<div class="input-box">

<i class="fa-solid fa-lock icon"></i>

<input
id="newPass"
type="password">

<i
id="eyeNew"
class="fa-solid fa-eye eye"></i>

</div>

<label>

Confirmar contraseña

</label>

<div class="input-box">

<i class="fa-solid fa-lock icon"></i>

<input
id="confirmPass"
type="password">

</div>

<button

class="btn-primary"

onclick="cargarVista('passwordOk.html')">

Guardar contraseña

</button>

</div>

</div>