<div class="newpass-page">


    <div class="recover-back">

        <i class="fa-solid fa-arrow-left"></i>

    </div>



    <h1>
        Nueva contraseña
    </h1>


    <p>
        Ingresa tu nueva contraseña
    </p>




    <label>
        Nueva contraseña
    </label>


    <input type="password"
    placeholder="********">



    <label>
        Confirmar contraseña
    </label>


    <input type="password"
    placeholder="********">





    <button
    onclick="cargarVista('passwordOk.html')">

        Guardar nueva contraseña

    </button>


</div>