<div class="perfil-container">


<header class="perfil-header">

<button id="btnVolverDashboard">

<i class="fa-solid fa-arrow-left"></i>

</button>


<h3>
Configuración
</h3>


</header>





<section class="perfil-user">


<div class="avatar">

<i class="fa-solid fa-user"></i>

</div>


<div>

<h4>
José Suarez
</h4>


<p>
jose.suarez@gmail.com
</p>


</div>


<i class="fa-solid fa-chevron-right"></i>


</section>







<h5>
Cuenta
</h5>


<div class="perfil-menu">


<button>

<i class="fa-solid fa-user"></i>

Información personal

<i class="fa-solid fa-chevron-right"></i>

</button>



<button>

<i class="fa-solid fa-credit-card"></i>

Métodos de pago

<i class="fa-solid fa-chevron-right"></i>

</button>



<button>

<i class="fa-solid fa-shield"></i>

Seguridad y privacidad

<i class="fa-solid fa-chevron-right"></i>

</button>


</div>









<h5>
Preferencias
</h5>


<div class="perfil-menu">


<button onclick="cargarVista('notificaciones.html')">

<i class="fa-solid fa-bell"></i>

Notificaciones

<i class="fa-solid fa-chevron-right"></i>

</button>



<button>

<i class="fa-solid fa-moon"></i>

Tema

<i class="fa-solid fa-chevron-right"></i>

</button>



<button>

<i class="fa-solid fa-globe"></i>

Idioma

<i class="fa-solid fa-chevron-right"></i>

</button>


</div>








<h5>
Soporte
</h5>


<div class="perfil-menu">


<button onclick="cargarVista('soporte.html')">

<i class="fa-solid fa-circle-question"></i>

Centro de ayuda

<i class="fa-solid fa-chevron-right"></i>

</button>



<button>

<i class="fa-solid fa-circle-info"></i>

Acerca de OptiTurn

<i class="fa-solid fa-chevron-right"></i>

</button>


</div>







<button 
class="logout"
id="btnCerrarSesion">

Cerrar sesión

</button>

</div>