<div class="app-screen">

    <header class="app-header">
        <button class="app-back-btn" onclick="cargarVista('dashboard.html')">
            <i class="fa-solid fa-arrow-left"></i>
        </button>

        <div class="app-header-title">
            <h2>Perfil</h2>
            <p>Información del usuario</p>
        </div>
    </header>

    <section class="app-card perfil-card">

        <div class="perfil-avatar">
            <i class="fa-solid fa-user"></i>
        </div>

        <h3>Mayra</h3>
        <p>Usuario registrado en OptiTurn</p>

        <div class="perfil-info">
            <div>
                <span>Correo</span>
                <strong>mayra@optiturn.com</strong>
            </div>

            <div>
                <span>Turnos realizados</span>
                <strong>8</strong>
            </div>

            <div>
                <span>Estado</span>
                <strong>Activo</strong>
            </div>
        </div>

    </section>

    <nav class="bottom-nav">

        <div onclick="cargarVista('dashboard.html')">
            <i class="fa-solid fa-house"></i>
            <span>Inicio</span>
        </div>

        <div onclick="cargarVista('establecimientos.html')">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Buscar</span>
        </div>

        <div onclick="cargarVista('misTurnos.html')">
            <i class="fa-solid fa-calendar-days"></i>
            <span>Reservas</span>
        </div>

        <div class="active" onclick="cargarVista('perfil.html')">
            <i class="fa-solid fa-user"></i>
            <span>Perfil</span>
        </div>

    </nav>

</div>