<div class="recover-page">


    <div class="recover-back" onclick="cargarVista('login.html')">

        <i class="fa-solid fa-arrow-left"></i>

    </div>


    <h1>
        Recuperar contraseña
    </h1>


    <p>
        Ingresa tu correo electrónico y te
        <br>
        enviaremos un enlace
    </p>



    <div class="recover-form">


        <label>
            Correo electrónico
        </label>


        <input 
        type="email"
        placeholder="ejemplo@gmail.com">



        <button 
        onclick="cargarVista('correo.html')">

            Enviar instrucciones

        </button>



        <a onclick="cargarVista('login.html')">

            Volver al inicio de sesión

        </a>


    </div>


</div>