<div class="signup-page">


    <div class="signup-header">

        <div class="signup-back" onclick="cargarVista('login.html')">

            <i class="fa-solid fa-arrow-left"></i>

        </div>


        <h1>
            Crear cuenta
        </h1>

    </div>



    <div class="signup-card">


        <label>Nombres</label>

        <input type="text" placeholder="Ingrese sus nombres">


        <label>Apellidos</label>

        <input type="text" placeholder="Ingrese sus apellidos">


        <label>Correo electrónico</label>

        <input type="email" placeholder="ejemplo@gmail.com">


        <label>Teléfono</label>

        <input type="text" placeholder="999999999">


        <label>Contraseña</label>

        <div class="signup-password">

            <input type="password" placeholder="********">

            <i class="fa-solid fa-eye"></i>

        </div>


        <label>Confirmar contraseña</label>

        <div class="signup-password">

            <input type="password" placeholder="********">

            <i class="fa-solid fa-eye"></i>

        </div>



        <div class="signup-terms">

            <input type="checkbox">

            <span>
                Acepto los Términos y condiciones y la
                <a>Política de Privacidad</a>
            </span>

        </div>



        <button 
        class="signup-btn"
        onclick="cargarVista('success.html')">

        Registrarse

        </button>

    </div>


</div>