<div class="register-page">

    <div class="back" onclick="cargarVista('login.html')">
        <i class="fa-solid fa-arrow-left"></i>
    </div>

    <div class="logo">

        <img class="logo-img" src="../assets/logo/logo.png" alt="OptiTurn">

        <h1>Crear Cuenta</h1>

        <p>Completa tus datos para comenzar</p>

    </div>

    <div class="form">

        <label>Nombre completo</label>

        <div class="input-box">
            <i class="fa-solid fa-user icon"></i>
            <input type="text" placeholder="Ingrese su nombre">
        </div>

        <label>Correo electrónico</label>

        <div class="input-box">
            <i class="fa-solid fa-envelope icon"></i>
            <input type="email" placeholder="ejemplo@gmail.com">
        </div>

        <label>Contraseña</label>

        <div class="input-box">
            <i class="fa-solid fa-lock icon"></i>
            <input id="pass1" type="password" placeholder="********">
            <i id="eye1" class="fa-solid fa-eye eye"></i>
        </div>

        <label>Confirmar contraseña</label>

        <div class="input-box">
            <i class="fa-solid fa-lock icon"></i>
            <input id="pass2" type="password" placeholder="********">
            <i id="eye2" class="fa-solid fa-eye eye"></i>
        </div>

        <button class="btn-primary">

            Crear Cuenta

        </button>

    </div>

    <div class="register">

        ¿Ya tienes una cuenta?

        <a href="#" onclick="cargarVista('login.html')">

            Iniciar sesión

        </a>

    </div>

</div>