<div class="splash-page">


    <div class="logo-splash">

        <img src="../assets/logo/logo.png" alt="OptiTurn">

        <h1>OptiTurn</h1>

        <p>GESTIÓN DE TURNOS Y TIEMPO PREDICADO</p>

    </div>



    <div class="splash-image">

        <img src="../assets/images/personas.png" alt="Personas">

    </div>



    <div class="splash-dots">

        <span class="active"></span>
        <span></span>
        <span></span>

    </div>



    <div class="btn-start-container">

        <button id="btnComenzar" class="btn-start">
            Comenzar
        </button>

    </div>


</div>