<div class="success-page">


    <h1>
        ¡Cuenta creada!
    </h1>


    <div class="success-icon">

        <i class="fa-solid fa-check"></i>

    </div>



    <h2>

        Tu cuenta se ha creado
        <br>
        exitosamente

    </h2>



    <p>

        Hemos enviado un correo de
        <br>
        bienvenida a
        <br>
        usuario@gmail.com

    </p>



    <button 
    class="success-btn"
    onclick="cargarVista('login.html')">

        Volver al inicio

    </button>


</div>