.success-page{

height:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:35px;

text-align:center;

background:white;

}

.icon-success{

width:140px;

height:140px;

border-radius:50%;

background:#E8F7EF;

display:flex;

justify-content:center;

align-items:center;

font-size:70px;

color:#20B15A;

margin-bottom:35px;

}

.check{

width:150px;

height:150px;

border-radius:50%;

background:#E7F8EE;

display:flex;

justify-content:center;

align-items:center;

font-size:80px;

color:#20B15A;

margin-bottom:35px;

}

.success-page h2{

margin-bottom:15px;

font-size:30px;

}

.success-page p{

color:#777;

margin-bottom:40px;

}