.success-page{

    width:100%;

    height:100%;

    background:#f8fafc;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-align:center;

}


/* TITULO */

.success-page h1{

    font-size:20px;

    font-weight:600;

    color:#111;

    margin-bottom:35px;

}



/* CIRCULO */

.success-icon{

    width:110px;

    height:110px;

    border-radius:50%;

    background:#b9ead5;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:30px;

}


.success-icon i{

    font-size:55px;

    color:#238b63;

}



/* TEXTO */

.success-page h2{

    font-size:17px;

    line-height:1.4;

    margin-bottom:15px;

}


.success-page p{

    font-size:13px;

    color:#888;

    line-height:1.5;

}


/* BOTON */

.success-btn{

    position:absolute;

    bottom:55px;

    width:80%;

    height:40px;

    background:#2878e8;

    border:none;

    border-radius:6px;

    color:white;

    font-size:13px;

    font-weight:600;

}